<%- include('header') %>
<div class="ui grid">
    <div class="eight wide column">
        <h3>书籍管理</h3>
    </div>
</div>
<div class="post-content">
    <div class="ui grid">
<% books.forEach(function (book) { %>
<%- include('components/book-content', { book: book }) %>
<% }) %>
    </div>
</div>
<%- include('footer') %>